body {
  background-image: url("background.png");
}
h1 {
  color: white;
  font-size: 6em;
  text-align: center;
  clear: both;
  font-family: Lobster, cursive;
}
.info {
  margin: auto;
  width: 40%;
  height: 100px;
  color: white;
  text-align:center;
  font-size: 2em;
  font-family: Rancho , cursive;
}
.menuitem {
  display: inline;
  margin-left: 1em;
  font-size: 1em;
}
#menu {
  float: right;
  color: white;
  font-family: Frijole, cursive;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: red;
}
li {
  list-style-type: none;
}
span {
  text-align: right;
  float: right;
  margin-right: 3em;
}
.resume {
  margin: auto;
  width: 60%;
  height: 100px;
  color: white;
  text-align: left;
  font-size: 2em;
  font-family: Rancho , cursive;
}
em {
  font-size: .8em;
}
