body {
    background-image: url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0;
    padding:0;
    min-width: 12em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:red;
}
.menuitem {
    float:right;
    margin-right:3vw;
    margin-top:1vw;
    display: inline-block;
    text-align: center;
    list-style-type:none;
    font-family: Montserrat, sans-serif;
    font-size:1.25vw;
}
#final {
    margin-right:5vw;
}
#title {
    text-align: center;
    right:0;
    margin-right:10vw;
    margin-top:20vh;
    position:absolute;
}

h1 {
    font-size: 7vw;
    margin:0;
    font-family: Lobster, cursive;
}
h2 {
    margin:0;
    font-size: 2vw;
    font-family: Inconsolata, serif;
}
